numpy
pytube3
umap_learn
Unidecode
noisereduce
tensorflow
tensorflow_datasets
moviepy
tqdm
matplotlib
librosa
kneed
num2words
torch
scipy
opencv-python
pydub
python_speech_features
pandas
imageio